.carousel .carousel-item {
    height: 420px;
}
  
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    max-height: 420px;
}

.hobby {
    max-width: 150px;
}

.pages {
    margin-left: 50px;
    margin-right: 50px;
}

.rightdiv {
    float: left;
    width: 79%;
    margin-left: 40px;
}

.rightdiv2 {
    float: left;
    width: 59%;
    margin-left: 50px;
}

.rightdiv3 {
    float: left;
    width: 20%;
    margin-left: 30px;
}


.leftdiv {
    float: right;
    width: 79%;
    margin-right: 50px;
}

.col-item {
  margin-right: 2%;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.col-item:nth-child(2n) {
  margin-right: 0;
  padding-right: 0;
}

.col-item:nth-last-child(2),
.col-item:last-child {
  margin-bottom: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(65% - 1px);
  height: 97%;
  border-right: 1px solid grey;
}